
{% extends "base.html" %}

{% block body_class %}{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Employers Login</h5>
          <p class="card-text">Employers and company managers can login here.</p>
          <a href="{% url 'employer:employer_login' %}">Employer Login</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Employees Login</h5>
          <p class="card-text">Employees or Job Seekers can login here.</p>
          <a href="#">Job Seeker Login</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
