
{% extends "base.html" %}

{% block body_class %}{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Employers Section</h5>
          <p class="card-text">Employers and company managers can login here.</p>
          <a href="{% url 'employer:employer_login' %}">Employer Section</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Employees Section</h5>
          <p class="card-text">Employees or Job Seekers can login here.</p>
          <a href="{% url 'job_seeker:job_seeker_dashboard' %}">Job Seeker Section</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
